@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models
@using Orneholm.CognitiveWorkbench.Web.Extensions
@using Orneholm.CognitiveWorkbench.Web.Models.ComputerVision
@using Orneholm.CognitiveWorkbench.Web.Models.ComputerVision.ApiClient
@model ComputerVisionViewModel
<main role="main" class="pb-3">
    <div class="container">
        <h2>Vision - Computer Vision</h2>

        <p>
            Identify and analyze content within images. Objects, faces, landmarks, celebrities etc.
        </p>

        <form method="post">
            <div class="card mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#cwb-form-computervision-image">Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#cwb-form-computervision-settings">Azure Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="cwb-form-computervision-image">
                            <p class="mb-3">
                                <strong>Note:</strong> You need to provide your own keys for Azure Cognitive Services - Computer Vision under the tab <em>Azure Settings</em>.
                            </p>

                            <h3>Common</h3>
                            <p class="mb-3">
                                <ul class="list-unstyled small">
                                    <li>
                                        The image must be presented in JPEG, PNG, GIF, or BMP
                                    </li>
                                    <li>
                                        The file size of the image must be less than 4 megabytes (MB)
                                    </li>
                                    <li>
                                        The dimensions of the image must be greater than 50 x 50 pixels
                                    </li>
                                </ul>
                            </p>

                            <div class="form-group">
                                <label asp-for="ComputerVisionAnalyzeRequest.ImageUrl">Image URL</label>
                                <input type="url" required class="cwb-input-remember form-control" placeholder="https://example.org/url-to/image.jpg" asp-for="ComputerVisionAnalyzeRequest.ImageUrl" name="ImageUrl" />
                            </div>

                            <h3>Analyze</h3>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="ComputerVisionAnalyzeRequest.ImageAnalysisLanguage">Image Analysis Language</label>
                                        <select asp-for="ComputerVisionAnalyzeRequest.ImageAnalysisLanguage" asp-items="Html.GetEnumSelectList<AnalysisLanguage>()" required class="cwb-input-remember form-control" name="ImageAnalysisLanguage">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h3>Text recognition</h3>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="ComputerVisionAnalyzeRequest.ImageReadV3Language">Image Read Language (Read operation)</label>
                                        <select asp-for="ComputerVisionAnalyzeRequest.ImageReadV3Language" asp-items="Html.GetEnumSelectList<ReadV3Language>()" required class="cwb-input-remember form-control" name="ImageReadV3Language">
                                        </select>
                                    </div>
                                </div>
                           
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="ComputerVisionAnalyzeRequest.ImageOcrLanguage">Image OCR Language (OCR operation)</label>
                                        <select asp-for="ComputerVisionAnalyzeRequest.ImageOcrLanguage" asp-items="Html.GetEnumSelectList<OcrLanguages>()" required class="cwb-input-remember form-control" name="ImageOcrLanguage">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Analyze</button>
                        </div>
                        <div class="tab-pane fade" id="cwb-form-computervision-settings">
                            <p>
                                This site requires you to set up your own resource(s) for Azure Cognitive Services. Create a resource for Computer Vision using the <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Cwindows">Azure portal</a> or <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account-cli?tabs=windows">Azure CLI</a> on your local machine.
                            </p>
                            <p>
                                Your endpoint can have the following format:
                                <ul>
                                    <li>https://[COMPUTERVISION-RESOURCENAME].cognitiveservices.azure.com/</li>
                                    <li>https://[COMPUTERVISION-REGION].api.cognitive.microsoft.com/</li>
                                </ul>
                            </p>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ComputerVisionAnalyzeRequest.ComputerVisionSubscriptionKey">Computer Vision - Subscription Key</label>
                                    <input type="password" required class="cwb-input-remember form-control" placeholder="zq8lp6z7cqtew6h4c0bxy0r5cqx3in36" asp-for="ComputerVisionAnalyzeRequest.ComputerVisionSubscriptionKey" name="ComputerVisionSubscriptionKey" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ComputerVisionAnalyzeRequest.ComputerVisionEndpoint">Computer Vision - Endpoint</label>
                                    <input type="url" required class="cwb-input-remember form-control" placeholder="https://[COMPUTERVISION-RESOURCENAME].cognitiveservices.azure.com/" asp-for="ComputerVisionAnalyzeRequest.ComputerVisionEndpoint" name="ComputerVisionEndpoint" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        @if (Model.IsAnalyzed && Model.ComputerVisionAnalyzeResponse?.AnalysisResult != null)
        {
            <section class="cwb-result-computervision-analyze">
                <h2 class="mt-5">Analyze</h2>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card mb-3 cwb-result-image">
                            <img src="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Url" class="card-img-top" alt="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Description" />
                            <div class="cwb-image-boxes">
                                @if (Model.ComputerVisionAnalyzeResponse.AnalysisResult.Brands != null
                                && Model.ComputerVisionAnalyzeResponse.AnalysisResult.Brands.Count > 0)
                                {
                                    <div class="cwb-image-boxes-brands">
                                        @foreach (var brand in Model.ComputerVisionAnalyzeResponse.AnalysisResult.Brands.OrderByDescending(x => x.Confidence))
                                        {
                                            <div class="cwb-image-box"
                                                 style="@brand.Rectangle.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                                <div class="cwb-image-box-info" title="@brand.Confidence.ToDescriptivePercentage()">
                                                    <span class="cwb-image-box-type">Brand</span>
                                                    <span class="cwb-image-box-description">@brand.Name</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (Model.ComputerVisionAnalyzeResponse.AnalysisResult.Objects != null
                                 && Model.ComputerVisionAnalyzeResponse.AnalysisResult.Objects.Count > 0)
                                {
                                    <div class="cwb-image-boxes-objects">
                                        @foreach (var obj in Model.ComputerVisionAnalyzeResponse.AnalysisResult.Objects.OrderByDescending(x => x.Confidence))
                                        {
                                            <div class="cwb-image-box"
                                                 style="@obj.Rectangle.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                                <div class="cwb-image-box-info" title="@obj.Confidence.ToDescriptivePercentage()">
                                                    <span class="cwb-image-box-type">Object</span>
                                                    <span class="cwb-image-box-description">@obj.ObjectProperty</span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }

                                <div class="cwb-image-boxes-faces">
                                    @foreach (var face in Model.ComputerVisionAnalyzeResponse.AnalysisResult?.Faces)
                                    {
                                        <div class="cwb-image-box"
                                             style="@face.FaceRectangle.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                            <div class="cwb-image-box-info">
                                                <span class="cwb-image-box-type">Face</span>
                                                <span class="cwb-image-box-description">Age: @face.Age</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card mb-3 cwb-result-content">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="list" href="#cwb-result-computervision-analyze-info">Info (Parsed)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-analyze-json">JSON (Raw)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="cwb-result-computervision-analyze-info">
                                        <partial name="ComputerVision/_AnalysisResult" model="@Model.ComputerVisionAnalyzeResponse.AnalysisResult" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-analyze-json">
                                        <partial name="_Json" model="@Model.ComputerVisionAnalyzeResponse.AnalysisResult" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (Model.IsAnalyzed && Model.ComputerVisionAnalyzeResponse?.AreaOfInterestResult != null)
        {
            <section class="cwb-result-computervision-analyze">
                <h2 class="mt-5">Area of interest</h2>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card mb-3 cwb-result-image">
                            <img src="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Url" class="card-img-top" alt="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Description" />
                            <div class="cwb-image-boxes">
                                <div class="cwb-image-boxes-aoi">
                                    <div class="cwb-image-box"
                                         style="@Model.ComputerVisionAnalyzeResponse.AreaOfInterestResult.AreaOfInterest.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                        <div class="cwb-image-box-info">
                                            <span class="cwb-image-box-type">Area of Interest</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card mb-3 cwb-result-content">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="list" href="#cwb-result-computervision-aoi-info">Info (Parsed)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-aoi-json">JSON (Raw)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="cwb-result-computervision-aoi-info">
                                        <partial name="ComputerVision/_AreaOfInterestResult" model="@Model.ComputerVisionAnalyzeResponse.AreaOfInterestResult" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-aoi-json">
                                        <partial name="_Json" model="@Model.ComputerVisionAnalyzeResponse.AreaOfInterestResult" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (Model.IsAnalyzed && Model.ComputerVisionAnalyzeResponse?.ReadV3Result?.AnalyzeResult?.ReadResults != null)
        {
            <section class="cwb-result-computervision-analyze">
                <h2 class="mt-5">Read</h2>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card mb-3 cwb-result-image">
                            <img src="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Url" class="card-img-top" alt="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Description" />
                            <div class="cwb-image-boxes">
                                <div class="cwb-image-boxes-readv3-lines">
                                    @foreach (var result in Model.ComputerVisionAnalyzeResponse.ReadV3Result.AnalyzeResult.ReadResults)
                                    {
                                        foreach (var line in result.Lines)
                                        {
                                            <div class="cwb-image-box"
                                                 style="@line.BoundingBox.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                                <div class="cwb-image-box-info" title="@string.Join(" ", line.Words.Select(x => x.Text))">
                                                    <span class="cwb-image-box-type">Line</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card mb-3 cwb-result-content">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="list" href="#cwb-result-computervision-readv3-text">Text (Combined)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-readv3-info">Info (Parsed)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-readv3-json">JSON (Raw)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="cwb-result-computervision-readv3-text">
                                        <partial name="ComputerVision/_CombinedTextResult" model="@Model.ComputerVisionAnalyzeResponse.ReadV3Result.ToCombinedTexts()" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-readv3-info">
                                        <partial name="ComputerVision/_ReadV3Result" model="@Model.ComputerVisionAnalyzeResponse.ReadV3Result" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-readv3-json">
                                        <partial name="_Json" model="@Model.ComputerVisionAnalyzeResponse.ReadV3Result" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @if (Model.IsAnalyzed && Model.ComputerVisionAnalyzeResponse?.OcrResult != null)
        {
            <section class="cwb-result-computervision-analyze">
                <h2 class="mt-5">OCR</h2>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card mb-3 cwb-result-image">
                            <img src="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Url" class="card-img-top" alt="@Model.ComputerVisionAnalyzeResponse.ImageInfo.Description" />
                            <div class="cwb-image-boxes">
                                <div class="cwb-image-boxes-ocr-regions">
                                    @foreach (var region in Model.ComputerVisionAnalyzeResponse.OcrResult.Regions)
                                    {
                                        <div class="cwb-image-box"
                                             style="@region.BoundingBox.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                            <div class="cwb-image-box-info" title="@region.Lines.Count lines">
                                                <span class="cwb-image-box-type">Region</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="cwb-image-boxes-ocr-lines">
                                    @foreach (var region in Model.ComputerVisionAnalyzeResponse.OcrResult.Regions)
                                    {
                                        foreach (var line in region.Lines)
                                        {
                                            <div class="cwb-image-box"
                                                 style="@line.BoundingBox.ToCss(Model.ComputerVisionAnalyzeResponse.ImageInfo.Width, Model.ComputerVisionAnalyzeResponse.ImageInfo.Height)">
                                                <div class="cwb-image-box-info" title="@string.Join(" ", line.Words.Select(x => x.Text))">
                                                    <span class="cwb-image-box-type">Line</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card mb-3 cwb-result-content">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="list" href="#cwb-result-computervision-ocr-text">Text (Combined)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-ocr-info">Info (Parsed)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-computervision-ocr-json">JSON (Raw)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="cwb-result-computervision-ocr-text">
                                        <partial name="ComputerVision/_CombinedTextResult" model="@Model.ComputerVisionAnalyzeResponse.OcrResult.ToCombinedTexts()" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-ocr-info">
                                        <partial name="ComputerVision/_OcrResult" model="@Model.ComputerVisionAnalyzeResponse.OcrResult" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-computervision-ocr-json">
                                        <partial name="_Json" model="@Model.ComputerVisionAnalyzeResponse.OcrResult" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }


        @section Scripts
        {
            <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
            <script>
                (function () {
                    var persistedValues = {
                        get: function (key, defaultValue) {
                            return localStorage.getItem('cwb.persisted.' + key) || defaultValue;
                        },
                        set: function (key, value, defaultValue) {
                            localStorage.setItem('cwb.persisted.' + key, value || defaultValue);
                        }
                    };

                    document.addEventListener('DOMContentLoaded', function () {
                        var fields = document.querySelectorAll('input.cwb-input-remember');
                        fields.forEach(function (field) {
                            function persist() {
                                persistedValues.set(field.id, field.value, '');
                            }

                            field.value = persistedValues.get(field.id, '');
                            field.addEventListener('change', persist);
                            field.addEventListener('keydown', persist);
                        });

                        var selectFields = document.querySelectorAll('select.cwb-input-remember');
                        selectFields.forEach(function (field) {
                            function persist() {
                                persistedValues.set(field.id, field.value, 0);
                            }

                            field.value = persistedValues.get(field.id, 0);
                            field.addEventListener('change', persist);
                        });
                    });
                }());

                (function () {
                    document.addEventListener('DOMContentLoaded', function () {
                        let boxesTableBodies = document.querySelectorAll('.cwb-image-boxes-table');
                        boxesTableBodies.forEach(function (tbody) {
                            let target = document.querySelector(tbody.dataset.cwbFor);
                            if (target) {
                                let targetBoxes = target.childNodes;

                                for (var i = 0; i < tbody.childNodes.length; i++) {
                                    let sourceRow = tbody.childNodes[i];
                                    let targetBox = targetBoxes[i];

                                    sourceRow.addEventListener('mouseover', function () {
                                        targetBox.classList.toggle('active', true);
                                    });

                                    sourceRow.addEventListener('mouseout', function () {
                                        targetBox.classList.toggle('active', false);
                                    });
                                }
                            }
                        });
                    });
                }());
            </script>
        }
    </div>
</main>
