@using Orneholm.CognitiveWorkbench.Web.Extensions
@model FaceViewModel
<main role="main" class="pb-3">
    <div class="container">
        <h2>Vision - Face</h2>

        <p>
            Detect faces within images. Face landmarks, emotion, etc.
        </p>

        <form method="post">
            <div class="card mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="list" href="#cwb-form-face-image">Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="list" href="#cwb-form-face-settings">Azure Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="cwb-form-face-image">
                            <p class="mb-3">
                                <strong>Note:</strong> You need to provide your own keys for Azure Cognitive Services - Face under the tab <em>Azure Settings</em>.
                            </p>

                            <h3>Analyze</h3>

                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label asp-for="FaceAnalyzeRequest.DetectionModel">Detection model</label>
                                        <select required class="cwb-input-remember form-control" asp-for="FaceAnalyzeRequest.DetectionModel" asp-items="Html.GetEnumSelectList<FaceDetectionModel>()" name="DetectionModel">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h3>Identification</h3>

                            <div class="my-3">
                                <div class="form-check pl-0">
                                    <input type="checkbox" class="cwb-input-remember" asp-for="FaceAnalyzeRequest.EnableIdentification" name="EnableIdentification" />
                                    <label class="form-check-label" asp-for="FaceAnalyzeRequest.EnableIdentification">
                                        Enable identification
                                    </label>
                                </div>
                            </div>

                            <div class="form-row" id="cwb-face-identification-form">
                                <div class="form-group col-md-3" id="cwb-form-face-image-identification-groupid">
                                    <label asp-for="FaceAnalyzeRequest.IdentificationGroupId">Identification Group Id</label>
                                    <input type="text" required class="cwb-input-remember form-control cwb-face-identification-setting" placeholder="groupName" asp-for="FaceAnalyzeRequest.IdentificationGroupId" name="IdentificationGroupId" />
                                </div>
                                <div class="form-group col-md-3" id="cwb-form-face-image-identification-type">
                                    <label asp-for="FaceAnalyzeRequest.IdentificationGroupType">Identification group type</label>
                                    <select required class="cwb-input-remember form-control cwb-face-identification-setting" asp-for="FaceAnalyzeRequest.IdentificationGroupType" asp-items="Html.GetEnumSelectList<FaceIdentificationGroupType>()" name="IdentificationGroupType">
                                    </select>
                                </div>
                                <div class="form-group col-md-6" id="cwb-form-face-image-recognition-model">
                                    <label asp-for="FaceAnalyzeRequest.RecognitionModel">Recognition model</label>
                                    <select required class="cwb-input-remember form-control cwb-face-identification-setting" asp-for="FaceAnalyzeRequest.RecognitionModel" asp-items="Html.GetEnumSelectList<FaceRecognitionModel>()" name="RecognitionModel">
                                    </select>
                                </div>
                            </div>

                            <h3>Common</h3>

                            <p class="mb-3">
                                <ul class="list-unstyled small">
                                    <li>
                                        The image must be presented in JPEG, PNG, GIF, or BMP
                                    </li>
                                    <li>
                                        The allowed image file size is from 1 KB to 6 MB
                                    </li>
                                    <li>
                                        The minimum detectable face size is 36x36 pixels in an image no larger than 1920x1080 pixels.<br />
                                        Images with dimensions higher than 1920x1080 pixels will need a proportionally larger minimum face size.
                                    </li>
                                    <li>
                                        Up to 100 faces can be returned for an image. Faces are ranked by face rectangle size from large to small.
                                    </li>
                                    <li>
                                        If you want to process identification, ensure that 'Recognition model' match the recognition model of your Person group / Large person group.
                                    </li>
                                </ul>
                            </p>

                            <div class="form-group">
                                <label asp-for=FaceAnalyzeRequest.ImageUrl>Image URL</label>
                                <input type="url" required class="cwb-input-remember form-control" placeholder="https://example.org/url-to/image.jpg" asp-for="FaceAnalyzeRequest.ImageUrl" name="ImageUrl" />
                            </div>

                            <button type="submit" class="btn btn-primary">Analyze</button>
                        </div>
                        <div class="tab-pane fade" id="cwb-form-face-settings">
                            <p>
                                This site requires you to set up your own resource(s) for Azure Cognitive Services. Create a resource for Computer Vision using the <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Cwindows">Azure portal</a> or <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account-cli?tabs=windows">Azure CLI</a> on your local machine.
                            </p>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FaceAnalyzeRequest.FaceSubscriptionKey">Face - Subscription Key</label>
                                    <input type="password" required class="cwb-input-remember form-control" placeholder="6z4sxl87p5yt6uc6moqx9elghazlnj5a" asp-for="FaceAnalyzeRequest.FaceSubscriptionKey" name="FaceSubscriptionKey" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="FaceAnalyzeRequest.FaceEndpoint">Face - Endpoint</label>
                                    <input type="url" required class="cwb-input-remember form-control" placeholder="https://[FACE-RESOURCENAME].cognitiveservices.azure.com/" asp-for="FaceAnalyzeRequest.FaceEndpoint" name="FaceEndpoint" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid">
        @if (Model.IsAnalyzed && Model.FaceAnalyzeResponse?.FaceResult != null)
        {
            <section class="cwb-result-face-analyze">
                <h2 class="mt-5">Face - Detect@(Model.FaceAnalyzeRequest.EnableIdentification ? " and Identify" : "")</h2>

                <div class="row">
                    <div class="col-md-7">
                        <div class="card mb-3 cwb-result-image">
                            <img src="@Model.FaceAnalyzeResponse.ImageInfo.Url" class="card-img-top" alt="@Model.FaceAnalyzeResponse.ImageInfo.Description" />
                            <div class="cwb-image-boxes">
                                <div class="cwb-image-boxes-faces-full">
                                    @foreach (var face in Model.FaceAnalyzeResponse.FaceResult)
                                    {
                                    <div class="cwb-image-box" style="@face.DetectedFace.FaceRectangle.ToCss(Model.FaceAnalyzeResponse.ImageInfo.Width, Model.FaceAnalyzeResponse.ImageInfo.Height)">
                                        @if (face.DetectedFace.FaceAttributes != null)
                                        {
                                            <div class="cwb-image-box-info" title="@face.DetectedFace.FaceAttributes?.Age years old">
                                                <span class="cwb-image-box-type">Face</span>
                                                <span class="cwb-image-box-description">@face.DetectedFace.FaceAttributes.Emotion.ToEmotion()</span>
                                            </div>

                                            <div class="cwb-image-box-metadata">
                                                <table class="cwb-image-box-metadata-table">
                                                    <tbody>
                                                        <tr class="cwb-image-box-metadata-table-header">
                                                            <th colspan="2">Emotions</th>
                                                        </tr>
                                                        @foreach (var emotion in face.DetectedFace.FaceAttributes.Emotion.ToEmotions())
                                                        {
                                                            <tr>
                                                                <th>@emotion.Key</th>
                                                                <td>@emotion.Value.ToPercentage()</td>
                                                            </tr>
                                                        }

                                                        <tr class="cwb-image-box-metadata-table-header">
                                                            <th colspan="2">Misc</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Age</th>
                                                            <td>@face.DetectedFace.FaceAttributes.Age</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Smile</th>
                                                            <td>@face.DetectedFace.FaceAttributes.Smile?.ToPercentage()</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Beard</th>
                                                            <td>@face.DetectedFace.FaceAttributes.FacialHair.Beard.ToPercentage()</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Moustache</th>
                                                            <td>@face.DetectedFace.FaceAttributes.FacialHair.Moustache.ToPercentage()</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Eye makeup</th>
                                                            <td>@face.DetectedFace.FaceAttributes.Makeup.EyeMakeup</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Lip makeup</th>
                                                            <td>@face.DetectedFace.FaceAttributes.Makeup.LipMakeup</td>
                                                        </tr>
                                                        @if (face.DetectedFace.FaceAttributes.Accessories.Any())
                                                        {
                                                            <tr class="cwb-image-box-metadata-table-header">
                                                                <th colspan="2">Accessories</th>
                                                            </tr>

                                                            @foreach (var accessory in face.DetectedFace.FaceAttributes.Accessories)
                                                            {
                                                                <tr>
                                                                    <th>@accessory.Type</th>
                                                                    <td>@accessory.Confidence.ToPercentage()</td>
                                                                </tr>
                                                            }
                                                        }
                                                        @if (face.IdentificationCandidates != null && face.IdentificationCandidates.Any())
                                                        {
                                                            <tr class="cwb-image-box-metadata-table-header">
                                                                <th colspan="2">Identification</th>
                                                            </tr>

                                                            @foreach (var identification in face.IdentificationCandidates)
                                                            {
                                                                <tr>
                                                                    <th>@identification.PersonName</th>
                                                                    <td>@identification.IdentifyCandidate.Confidence.ToPercentage()</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="cwb-image-box-info">
                                                <span class="cwb-image-box-type">Face</span>
                                            </div>

                                            <div class="cwb-image-box-metadata">
                                                <table class="cwb-image-box-metadata-table">
                                                    <tbody>
                                                        <tr class="cwb-image-box-metadata-table-header">
                                                            <th colspan="2">No attributes info</th>
                                                        </tr>
                                                        @if (face.IdentificationCandidates != null && face.IdentificationCandidates.Any())
                                                        {
                                                            <tr class="cwb-image-box-metadata-table-header">
                                                                <th colspan="2">Identification</th>
                                                            </tr>

                                                            @foreach (var identification in face.IdentificationCandidates)
                                                            {
                                                                <tr>
                                                                    <th>@identification.PersonName</th>
                                                                    <td>@identification.IdentifyCandidate.Confidence.ToPercentage()</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }

                                        @if (face.DetectedFace.FaceLandmarks != null)
                                        {
                                            <div class="cwb-image-box-landmarks">
                                                @foreach (var landmark in face.DetectedFace.FaceLandmarks.ToFaceLandmarks())
                                                {
                                                    <div class="cwb-image-box-landmarks-landmark"
                                                         title="@landmark.Key"
                                                         style="@landmark.Value.ToRelativeCss(face.DetectedFace.FaceRectangle, Model.FaceAnalyzeResponse.ImageInfo.Width, Model.FaceAnalyzeResponse.ImageInfo.Height)"></div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card mb-3 cwb-result-content">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="list" href="#cwb-result-face-detect-info">Info (Parsed)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="list" href="#cwb-result-face-detect-json">JSON (Raw)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="cwb-result-face-detect-info">
                                        <partial name="_FaceDetectResult" model="@Model.FaceAnalyzeResponse" />
                                    </div>
                                    <div class="tab-pane fade" id="cwb-result-face-detect-json">
                                        <partial name="_Json" model="@Model.FaceAnalyzeResponse.FaceResult" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        @section Scripts
        {
            <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
            <script>
                (function () {
                    var persistedValues = {
                        get: function (key, defaultValue) {
                            return localStorage.getItem('cwb.persisted.' + key) || defaultValue;
                        },
                        set: function (key, value, defaultValue) {
                            localStorage.setItem('cwb.persisted.' + key, value || defaultValue);
                        }
                    };

                    document.addEventListener('DOMContentLoaded', function () {
                        var fields = document.querySelectorAll('input.cwb-input-remember');
                        fields.forEach(function (field) {
                            if (field.type === 'checkbox') {
                                function persist() {
                                    persistedValues.set(field.id, field.checked, 'false');
                                }
                                field.checked = (persistedValues.get(field.id, 'false') === 'true');
                                field.addEventListener('change', persist);
                            } else {
                                function persist() {
                                    persistedValues.set(field.id, field.value, '');
                                }
                                field.value = persistedValues.get(field.id, '');
                                field.addEventListener('change', persist);
                                field.addEventListener('keydown', persist);
                            }
                        });

                        var selectFields = document.querySelectorAll('select.cwb-input-remember');
                        selectFields.forEach(function (field) {
                            function persist() {
                                persistedValues.set(field.id, field.value, 0);
                            }
                            field.value = persistedValues.get(field.id, 0);
                            field.addEventListener('change', persist);
                        });
                    });
                }());

                (function () {
                    document.addEventListener('DOMContentLoaded', function () {
                        let boxesTableBodies = document.querySelectorAll('.cwb-image-boxes-table');
                        boxesTableBodies.forEach(function (tbody) {
                            let target = document.querySelector(tbody.dataset.cwbFor);
                            let targetBoxes = target.childNodes;

                            for (var i = 0; i < tbody.childNodes.length; i++) {
                                let sourceRow = tbody.childNodes[i];
                                let targetBox = targetBoxes[i];

                                sourceRow.addEventListener('mouseover', function () {
                                    targetBox.classList.toggle('active', true);
                                });

                                sourceRow.addEventListener('mouseout', function () {
                                    targetBox.classList.toggle('active', false);
                                });
                            }
                        });
                    });
                }());

                (function () {
                    document.addEventListener('DOMContentLoaded', function () {
                        function updateIdentificationFields(checkboxIsChecked) {
                            var faceIdentificationForm = document.getElementById('cwb-face-identification-form');

                            faceIdentificationForm.style.display = checkboxIsChecked ? "flex" : "none";

                            var identificationSettingInputs = document.querySelectorAll('.cwb-face-identification-setting');
                            identificationSettingInputs.forEach(function (field) {
                                field.required = checkboxIsChecked;
                            });
                        }

                        var identificationCheckbox = document.getElementById('FaceAnalyzeRequest_EnableIdentification');

                        // Init
                        updateIdentificationFields(identificationCheckbox.checked);

                        // On change
                        identificationCheckbox.addEventListener('change', function () {
                            updateIdentificationFields(identificationCheckbox.checked);
                        });
                    });
                }());
            </script>
        }
    </div>
</main>
