@using Orneholm.CognitiveWorkbench.Web.Extensions
@model Orneholm.CognitiveWorkbench.Web.Models.TextAnalytics.TextAnalyticsAnalyzeResponse

<div class="mb-5">
    <h4>Overview</h4>

    @{
        var language = @Model.DetectedLanguage.DetectedLanguages.FirstOrDefault();
    }
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Language</th>
                <th>@language?.Name - @language?.Score.ToDescriptivePercentage()</th>
            </tr>
            <tr>
                <th>Sentiment</th>
                <th>@Model.Sentiment.Score.ToDescriptivePercentage()</th>
            </tr>
        </tbody>
    </table>
</div>


<div class="mb-5">
    <h4>Entities</h4>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Subtype</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model.Entities.Entities)
            {
                <tr>
                    <th>@entity.Name</th>
                    <td>@entity.Type</td>
                    <td>@entity.SubType</td>
                </tr>
            }
        </tbody>
    </table>

    @if (!Model.Entities.Entities.Any())
    {
        <p class="p-2">
            No entities available.
        </p>
    }
</div>


<div class="mb-5">
    <h4>Key Phrases</h4>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Key Phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var keyPhrase in Model.KeyPhrases.KeyPhrases)
            {
                <tr>
                    <th>@keyPhrase</th>
                </tr>
            }
        </tbody>
    </table>

    @if (!Model.KeyPhrases.KeyPhrases.Any())
    {
        <p class="p-2">
            No key phrases available.
        </p>
    }
</div>
